services:
  quizmaker.api:
    image: ${DOCKER_REGISTRY-}quizmakerapi
    build:
      context: .
      dockerfile: QuizMaker.Api/Dockerfile
    container_name: quiz-api
    ports:
      - "5000:5000"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Server=host.docker.internal,1433;Database=Quiz;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True"
    depends_on:
      - quizmaker.seq
    volumes:
      - ./QuizMaker.Api/Exporters:/app/Exporters

  quizmaker.seq:
    image: datalust/seq
    container_name: quizmaker-seq
    ports:
      - "5341:80"
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true 
    volumes:
      - ./seq-data:/data
